{% extends 'base.html' %}

{% block title %}Sbubbles | Redefinir senha{% endblock %}

{% block content %}

<style> 

  p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label{
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  width: 325px
}

</style>
  <h1>Redefina a sua senha</h1>
  <p class="sub_text">Insira o endereço de e-mail vinculado à sua conta para redefinir a senha. Se o endereço informado for válido, um e-mail será enviado com o link de redefinição.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="botao btn_principal" type="submit" value="Enviar link de redefinição">
  </form>
{% endblock %}