<div class="post_structure" >
  {% if p.reported_by_authenticated_user %}
    <p>[post denunciado]</p>
  {% else %} <!-- DENÚNCIA -->
    <a class="username" href="{% url 'profile' username=p.author.username %}">
      <i>{{ p.author.username }}:</i>
    </a>

    <p class="text_post">{{ p.content }}</p>  
  <div>
    <p class="post_status">{{ p.likes }} curtida{{ p.likes|pluralize }}</p>
    <p class="post_status">{% load humanize %}{{ p.created_at|naturaltime }}</p>
  </div>
    <!-- DAR LIKE -->
    {% if p.liked_by_authenticated_user %}
      <a class="posts_actions" href="{% url 'like' post_id=p.id %}"><i class="fa fa-heart like"></i></a>
    {% else %}
      <a class="posts_actions" href="{% url 'like' post_id=p.id %}"><i class="fa fa-heart-o deslike"></i></a>
    {% endif %}

    <span> | </span>

    <!-- REPOSTAR -->
    {% if p.reposted_by_authenticated_user %}
      <a class="posts_actions" href="{% url 'repost' post_id=p.id %}">desfazer repost</a>
    {% else %}
      <a class="posts_actions" href="{% url 'repost' post_id=p.id %}"><i class="fa fa-refresh"></i></a>
    {% endif %}

    <span> | </span>

    <!-- SALVAR POST -->
    {% if p.saved_by_authenticated_user %}
      <a href="{% url 'save' post_id=p.id %}"><i class="fa fa-bookmark salvo"></i></a>
    {% else %}
      <a class="posts_actions" href="{% url 'save' post_id=p.id %}"><i class="fa fa-bookmark-o"></i></a>
    {% endif %}

    <span> | </span>
    
    <!-- APAGAR O PRÓPRIO POST -->
    {% if request.user == p.author %}
      <a class="posts_actions" href="{% url 'delete' post_id=p.id %}"><i class="fa fa-trash-o"></i></a>
    {% endif %}

  {% endif %} <!-- DENÚNCIA -->

  <!-- DENUNCIAR POST ALHEIO -->
  {% if request.user != p.author %}
    {% if p.reported_by_authenticated_user %}
      <a href="{% url 'report' post_id=p.id %}">remover denúncia</a>
    {% else %}
      <a href="{% url 'report' post_id=p.id %}">denunciar</a>
    {% endif %}
  {% endif %}
</div>