{% extends "base.html" %}

{% block title %}Timeline | Sbubbles{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="head_home"> 
  <h3>
    Oi, <a class="sub_text" href="{% url 'profile' username=user.username %}">{{ user.username }}</a>!
</h3>
  <p><a class="botao_sair" href="{% url 'logout' %}">Sair</a></p>
</div>
  <h3>Confira o que rolou enquanto você esteve fora</h3>

  <p>
    <a href="{% url 'home' %}">Página inicial</a>
    <span> | </span>
    <a href="{% url 'notifications' %}">Notificações</a>
  <p>
 
  <div class="post_creat"> {% include 'newpostform.html' %} 
  </div>
 
  {% for p in posts %}
    {% include 'fullpost.html' %} 
  {% endfor %}
{% else %}
  <p>Faça login para visualizar essa página</p>
  <a href="{% url 'login' %}">Entrar</a>
{% endif %}
{% endblock %}