{% extends "base.html" %}

{% block title %}Timeline | Sbubbles{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p><a href="{% url 'logout' %}">Sair</a></p>
  <h1>
    Oi, <a href="{% url 'profile' username=user.username %}">{{ user.username }}</a>!
  </h1>

  {% include 'newpostform.html' %} 

  {% for p in posts %}
    {% include 'fullpost.html' %} 
  {% endfor %}

{% else %}
  <p>Faça login para visualizar essa página</p>
  <a href="{% url 'login' %}">Entrar</a>
{% endif %}
{% endblock %}