{% extends "base.html" %}

{% block title %}Notificações | Sbubbles{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p><a class="botao_sair" href="{% url 'logout' %}">Sair</a></p>
  <h1 class="sub_text">
    Oi, <a href="{% url 'profile' username=user.username %}">{{ user.username }}</a>!
  </h1>
  <h3 class="sub_text">Aqui estão algumas novidades para você</h3>

  <p>
    <a href="{% url 'home' %}">Página inicial</a>
    <span> | </span>
    <a href="{% url 'notifications' %}">Notificações</a>
  <p>

  {% for n in notifications %}
    {% include 'notif.html' %} 
  {% endfor %}

{% else %}
  <p>Faça login para visualizar essa página</p>
  <a href="{% url 'login' %}">Entrar</a>
{% endif %}
{% endblock %}